# built cheatsheets and handouts
# ----------------------------------
cheatsheet*.pdf

# TeX auxiliary files
# ----------------------------------
*.aux
*.log
*.out
*.upa

# generated figures
# ----------------------------------
fonts/**/*.[ot]tf

# OS specific
.DS_Store
